<div>
    <br>
    <h3>New Player Registration </h3>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field>
                <input class='pwcginput' matInput size="20" [(ngModel)]="newUserData.username" placeholder="Username">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input class='pwcginput' matInput size="20" [(ngModel)]="newUserData.password" placeholder="Password">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input class='pwcginput' matInput size="100" [(ngModel)]="newUserData.note" placeholder="Note to Host">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div>
    <form>
        <br>
        <button class='pwcgbutton' name="submitButton" (click)="onSubmitNewPlayerRequest()"> Submit New Player Request</button>
    </form>
</div>

<br>
<div>
    <label class='pwcgmessage' name="message">{{clickMessage}}</label>
</div>