<div>
    <br>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <label class='pwcginputlabel'>Username:  </label>
            <input class='pwcginput' size="20" [(ngModel)]="newUserData.username" placeholder="Username">
        </mat-grid-tile>
        <mat-grid-tile>
            <label class='pwcginputlabel'>Password:  </label>
            <input class='pwcginput' size="20" [(ngModel)]="newUserData.password" placeholder="Password">
        </mat-grid-tile>
        <mat-grid-tile>
            <label class='pwcginputlabel'>Note to Host: </label>
            <input class='pwcginput' size="100" [(ngModel)]="newUserData.note" placeholder="Note to Host">
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div>
    <form>
        <br>
        <button class='pwcgbutton' name="submitButton" (click)="onSubmitNewPlayerRequest()"> Submit New Player Request</button>
    </form>
</div>

<br>
<div>
    <label class='pwcgmessage' name="message">{{clickMessage}}</label>
</div>