<h2>Login </h2> 

<div class="grid-container">
  <div class="grid-item">
      <label>Username: </label>
  </div>
  <div class="grid-item">
      <input size="20" [(ngModel)]="loginData.username" placeholder="Username">
  </div>

  <div class="grid-item">
      <label>Password: </label>
  </div>
  <div class="grid-item">
      <input size="20" [(ngModel)]="loginData.password" placeholder="Password">
  </div>
</div>

<form>
      <br>      
      <button name="submitButton" (click)="onSubmitLoginRequest()"> Submit Login Request</button>
</form>

<br>
<div>
        <label name="message">{{clickMessage}}</label>
</div>
