<div>
    <br>
    <h3>Login </h3>
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field>
                <input class='pwcginput' matInput size="20" [(ngModel)]="loginData.username" placeholder="Username">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input type="password" class='pwcginput' matInput size="20" [(ngModel)]="loginData.password" placeholder="Password">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div>
    <form>
        <br>
        <button class='pwcgbutton' name="submitButton" (click)="onSubmitLoginRequest()"> Submit Login Request</button>
    </form>
</div>

<br>
<mat-divider></mat-divider>

<br>
<div>
  <label class='pwcgmessage' name="message">{{clickMessage}}</label>
</div>