<mat-toolbar color="blue">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      PWCG Online
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="pwcg-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">

    <mat-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/newpilot">New Pilot Request</a>

        <mat-list-item *ngFor="let pilot of humanPilotList" (click)="onPilotChange(pilot)">
          <a mat-list-item >{{pilot.campaignName}}: {{pilot.pilotName}}</a>
        </mat-list-item>
    </mat-nav-list>
  </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>