<div>
  <br>
  <h3>Pilot Creation Request </h3>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="100px" gutterSize="30px">
    <mat-grid-tile>
      <mat-form-field>
        <input class='pwcginput' matInput size="30" [(ngModel)]="newPilotData.pilotName" placeholder="Pilot Name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
          <input class='pwcginput' matInput size="100" [(ngModel)]="newPilotData.note" placeholder="Note to Host">
        </mat-form-field>
      </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Choose Campaign" (selectionChange)="onCampaignChange($event)" [(value)]="selectedCampaign" name="campaignSelect">
          <mat-option *ngFor="let campaign of campaigns" [(value)]="campaign">
            {{campaign.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Choose Squadron" (selectionChange)="onSquadronChange($event)" [(value)]="selectedSquadron" name="squadronSelect">
          <mat-option *ngFor="let squadron of squadrons" [(value)]="squadron">
            {{squadron.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-select placeholder="Choose Rank"  (selectionChange)="onRankChange($event)" [(value)]="selectedRank" name="rankSelect">
          <mat-option *ngFor="let rank of ranks" [(value)]="rank">
            {{rank.rankName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div>
  <form>
    <br>
    <button class='pwcgbutton' name="submitButton" (click)="onSubmitNewPilotRequest()"> Submit New Pilot Request</button>
  </form>
</div>

<br>
<mat-divider></mat-divider>
<br>
<div>
  <label class='pwcgmessage' name="message">{{clickMessage}}</label>
</div>