<h2>Pilot Creation Request </h2> 

<div class="grid-container">

  <div class="grid-item">
      <label>Pilot Name: </label>
  </div>
  <div class="grid-item">
      <input size="20" [(ngModel)]="newPilotData.pilotName" placeholder="Pilot Name">
  </div>

  <div class="grid-item">
    <label>Campaign: </label>
  </div>
  <div class="grid-item">
      <mat-form-field>
        <mat-select placeholder="Choose Campaign" [(ngModel)]="newPilotData.campaign" name="campaignSelect">
          <mat-option *ngFor="let campaign of campaigns" [value]="campaign.name">
            {{campaign.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="grid-item">
    <label>Squadron: </label>
  </div>
  <div class="grid-item">
      <mat-form-field>
        <mat-select placeholder="Choose Squadron" [(ngModel)]="newPilotData.squadron" name="squadronSelect">
          <mat-option *ngFor="let squadron of squadrons" [value]="squadron.name">
            {{squadron.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>

  <div class="grid-item">
    <label>Rank: </label>
  </div>
  <div class="grid-item">
    <select [(ngModel)]="newPilotData.rank">
          <option [ngValue]="" selected>Select Rank</option>
    <option *ngFor="let rank of ranks" [ngValue]="rank">{{rank.rankName}}</option>
    </select>
  </div>

  <div class="grid-item">
      <label>Note to Host: </label>
  </div>
  <div class="grid-item">
      <input  size="50" [(ngModel)]="newPilotData.note" placeholder="Note to Host">
  </div>
</div>

<form>
      <br>      
      <button (click)="onSubmitNewPilotRequest()">Submit New Player Request</button>
</form>

<br>
<div>
        <label name="message">{{clickMessage}}</label>
</div>
