.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }

  button {
    border-radius: 25px;
    background-color: rgba(141, 35, 35, 0.8);
    color: rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;    
  }
  label {
      color: rgb(9, 0, 34);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;    
    }
  input {
      color: rgb(9, 0, 34);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 75%;
  }
  option {
      color: rgb(9, 0, 34);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
  }
  select {
      color: rgb(9, 0, 34);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 75%;
  }
  h1 {
      color: #369;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 250%;
  }
  h2, h3 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: lighter;
    }
  body {
      margin: 2em;
   }
    body, input[type="text"], button {
      color: #888;
      font-family: Cambria, Georgia;
    }
    /* everywhere else */
    * {
      font-family: Arial, Helvetica, sans-serif;
    }